<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="EasyVideoWin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <log4net>
    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
    </root>

    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="${APPDATA}\HexMeetHJT\HexMeetHJTApp.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%02thread] %-5level %logger: %message%newline" />
      </layout>
    </appender>

    <appender name="ColoredConsoleAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger: %message%newline" />
      </layout>
    </appender>

  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <userSettings>
        <EasyVideoWin.Properties.Settings>
              <setting name="Language" serializeAs="String">
                    <value />
              </setting>
              <setting name="ConfInfoAddress" serializeAs="String">
                    <value />
              </setting>
              <setting name="ConfManagementAddress" serializeAs="String">
                    <value />
              </setting>
              <setting name="URLProtocol" serializeAs="String">
                    <value>hexmeethjt</value>
              </setting>
              <setting name="CloudServerAddress" serializeAs="String">
                    <value>cloud.hexmeet.com</value>
              </setting>
              <setting name="CloudLocationServerAddress" serializeAs="String">
                    <value>https://cloudcenter.hexmeet.com</value>
              </setting>
              <setting name="SoftwareUpdateAddress" serializeAs="String">
                    <value>http://swinfo.cninnovatel.com</value>
              </setting>
              <setting name="SoftwareUpdateFlag" serializeAs="String">
                    <value>windows</value>
              </setting>
              <setting name="SoftwareUpdateBundleId" serializeAs="String">
                    <value>com.your.bundleid</value>
              </setting>
              <setting name="SoftwareUpdateAppInfo" serializeAs="String">
                    <value>appinfo.json</value>
              </setting>
              <setting name="SoftwareUpdateAppInfoPrefix" serializeAs="String">
                    <value />
              </setting>
              <setting name="CloudOnly" serializeAs="String">
                    <value>False</value>
              </setting>
        </EasyVideoWin.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.1.0" newVersion="1.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <gcAllowVeryLargeObjects enabled="true" />
    
  </runtime>
</configuration>
